In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
tennis = pd.read_csv('tennis.csv')
tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [6]:
outlook = tennis.groupby(['outlook', 'play']).size()
temp = tennis.groupby(['temp', 'play']).size()
humidity = tennis.groupby(['humidity', 'play']).size()
windy = tennis.groupby(['windy', 'play']).size()
play = tennis.play.value_counts()

In [7]:
print(temp)
print('------------------')
print(humidity)
print('------------------')
print(windy)
print('------------------')
print(outlook)
print('------------------')
print('play')
print(play)

temp  play
cool  no      1
      yes     3
hot   no      2
      yes     2
mild  no      2
      yes     4
dtype: int64
------------------
humidity  play
high      no      4
          yes     3
normal    no      1
          yes     6
dtype: int64
------------------
windy  play
False  no      2
       yes     6
True   no      3
       yes     3
dtype: int64
------------------
outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64
------------------
play
yes    9
no     5
Name: play, dtype: int64

In [8]:
(3/9)*(9/14)/(5/14)

0.6

In [9]:
def bayestheorem():
    print('Posterior [P(c|x)] - Posterior probability of the target/class (c) given predictors (x)'),
    print('Prior [P(c)] - Prior probability of the class (target)'),
    print('Likelihood [P(x|c)] - Probability of the predictor (x) given the class/target (c)'),
    print('Evidence [P(x)] - Prior probability of the predictor (x))')

In [10]:
 def bayesposterior(prior, likelihood, evidence, string):
      print('Prior=', prior),
      print('Likelihood=', likelihood),
      print('Evidence=', evidence),
      print('Equation =','(Prior*Likelihood)/Evidence')
      print(string, (prior*likelihood)/evidence)

In [11]:
ct = pd.crosstab(tennis['outlook'], tennis['play'], margins = True)
print(ct)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [12]:
ct.columns = ["no","yes","rowtotal"]
ct.index= ["overcast","rainy","sunny","coltotal"]
ct / ct.loc["coltotal","rowtotal"]

                no       yes  rowtotal
overcast  0.000000  0.285714  0.285714
rainy     0.142857  0.214286  0.357143
sunny     0.214286  0.142857  0.357143
coltotal  0.357143  0.642857  1.000000

In [13]:
ct / ct.loc["coltotal"]

           no       yes  rowtotal
overcast  0.0  0.444444  0.285714
rainy     0.4  0.333333  0.357143
sunny     0.6  0.222222  0.357143
coltotal  1.0  1.000000  1.000000

In [14]:
ct.div(ct["rowtotal"], axis=0)

                no       yes  rowtotal
overcast  0.000000  1.000000       1.0
rainy     0.400000  0.600000       1.0
sunny     0.600000  0.400000       1.0
coltotal  0.357143  0.642857       1.0

In [15]:
bayesposterior(prior = ct.iloc[1,1]/ct.iloc[3,1],
               likelihood = ct.iloc[3,1]/ct.iloc[3,2],
               evidence = ct.iloc[1,2]/ct.iloc[3,2],
               string = 'Probability of Tennis given Rain =')

Prior= 0.3333333333333333
Likelihood= 0.6428571428571429
Evidence= 0.35714285714285715
Equation = (Prior*Likelihood)/Evidence
Probability of Tennis given Rain = 0.6

In [16]:
pd.crosstab(tennis['outlook'], tennis['play'], margins = True)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [17]:
pd.crosstab(tennis['temp'], tennis['play'], margins = True)

play  no  yes  All
temp
cool   1    3    4
hot    2    2    4
mild   2    4    6
All    5    9   14

In [18]:
pd.crosstab(tennis['humidity'], tennis['play'], margins = True)

play      no  yes  All
humidity
high       4    3    7
normal     1    6    7
All        5    9   14

In [19]:
pd.crosstab(tennis['windy'], tennis['play'], margins = True)

play   no  yes  All
windy
False   2    6    8
True    3    3    6
All     5    9   14

In [20]:
pd.crosstab(index=tennis['play'],columns="count", margins=True)

col_0  count  All
play
no         5    5
yes        9    9
All       14   14

In [21]:
p_x_yes = ((2/9)*(2/9)*(3/9)*(3/9))
print('The probability of the predictors given playing tennis is', '%.3f'%p_x_yes)

The probability of the predictors given playing tennis is 0.005

In [23]:
p_x_no = ((3/5)*(2/5)*(4/5)*(3/5))
print('The probability of the predictors given not playing tennis is ', '%.3f'%p_x_no)

The probability of the predictors given not playing tennis is  0.115

In [24]:
yes = (9/14)
no = (5/14)
print('The probability of playing tennis is', '%.3f'% yes)
print('The probability of not playing tennis is', '%.3f'% no)

The probability of playing tennis is 0.643
The probability of not playing tennis is 0.357

In [25]:
yes_x = p_x_yes*yes
print('The probability of playing tennis given the predictors is', '%.3f'%yes_x)

no_x = p_x_no*no
print('The probability of not playing tennis given the predictors is', '%.3f'%no_x)

The probability of playing tennis given the predictors is 0.004
The probability of not playing tennis given the predictors is 0.041

In [26]:
if yes_x > no_x:
  print('The probability of playing tennis when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher')
else:
  print('The probability of not playing tennis when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher')

The probability of not playing tennis when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher

In [28]:
print("The probability of not playing tennis is higher when the outlook is sunny, the temperature is hot, there is high humidity and it is windy.")

The probability of not playing tennis is higher when the outlook is sunny, the temperature is hot, there is high humidity and it is windy.